:root {
  font-family:'Roboto', sans-serif, 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark: #14142b;
  --lightdark: #232639;
  --lightblue: #9ac1f0;
  --lightgreen: #72fa93;
  --green: #a0e548;
  --orange: #e45f2b;
  --yellow: #f6c445;
}

/* TEXT COLORS */
.dark{color: #14142b}
.lightdark{color: #232639}
.lightblue{color: #9ac1f0}
.lightgreen{color: #72fa93}
.green{color: #a0e548}
.orange{color: #e45f2b}
.yellow{color: #f6c445}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark)
}

main {
  display: inline-block;
  place-items: center;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
  
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.component {
  background-color: var(--lightdark);
  margin: 1em 1em 1em 1em;
  padding: 1em;
  width: 80em;
  min-width: 20em;
  border-radius: 30px;
}


