{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}My Books{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="{% static 'books/styles.css' %}" rel="stylesheet">

        <link rel="preconnect" href="https://api.fonts.coollabs.io">
        <link rel="preconnect" href="https://api.fonts.coollabs.io" crossorigin>
        <link href="https://api.fonts.coollabs.io/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
        
        
        

    </head>
    <body>
        <!-- NAVBAR -->

        <!-- BODY -->
        <div id="main_area">
            {% block body %}
                {% include 'books/totalbooks.html' %}
            {% endblock %}             
        </div>
            
    </body>
</html>
